Source: 3fd
Version: 2.5.4
Description: C++ Framework For Fast Development
Build-Depends: boost-lockfree (windows linux osx), boost-regex (windows linux osx), poco (windows linux osx), sqlite3, rapidxml
